.project2 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.proj2projectParag {
  color: white;
  font-size: 25px;
  text-align: justify;
}

.projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
}

.projectPair {
  margin-bottom: 30px;
}

.project2ThirdPic {
  width: 100%;
  margin-top: -70px;
}

.project2TextBox {
  margin-top: 50px;
}

@media (max-width: 360px) {
  .p2buildingTitle {
    margin-top: 20px;
  }

  .p2thirdImg {
    display: none;
  }

  .p2descriptionTitle,
  .p2buildingTitle {
    font-size: 25px;
    text-align: center;
  }

  .proj2projectParag {
    font-size: 18px;
    text-align: justify;
  }

  .p2titles {
    font-size: 17px;
  }
}
