.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p1building {
  text-align: center;
}

.p1description {
  text-align: center;
  margin-top: 20px;
}

.p1projectParag {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin-top: 20px;
}

.projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
}

.projectPair {
  margin-bottom: 30px;
}
