.pic {
  float: right;
  width: 20%;
  border-radius: 5px;
  margin-left: 15px;
  box-shadow: 0px 1px 30px white;
  transition: all 0.4s;
}

.pic:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 50px white;
}

.about-container {
  border-radius: 15px;
}

.aboutBox {
  color: white;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.979);
  margin-bottom: 120px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px white;
}

.aboutTitle {
  font-size: 60px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px rgb(0, 217, 255),
    0 -10px 20px #00b7ff, 0 -18px 40px rgb(0, 255, 200);
  color: #ffffff;
  transition: all 0.4s;
  backface-visibility: hidden;
}

.aboutTitle:hover {
  transform: skew(12deg) scale(1.1);
}

.aboutParag {
  font-size: 27px;
  text-align: left;
  color: white;
}

.skillsTitle {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 60px;
  padding: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px rgb(0, 217, 255),
    0 -10px 20px #00b7ff, 0 -18px 40px rgb(0, 255, 200);
  color: #ffffff;
  transition: all 0.4s;
}

.skillsTitle:hover {
  transform: skew(12deg) scale(1.1);
  backface-visibility: hidden;
}

.aboutIcons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.aboutIcons {
  width: 100%;
}

.skills-wrapper {
  padding-bottom: 20px;
}

.skillsParag {
  color: rgb(255, 254, 254);
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.skills-parag-subtitle {
  text-align: center;
}

.iconsBox {
  background-image: url("/images/background.JPG");
  filter: brightness(1.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-top: 40px;
  border-radius: 10px;
}

hr {
  background: white;
}

#connectBox {
  color: rgb(0, 0, 0);
  height: 200px;
  width: 400px;
  background: rgba(247, 248, 250, 0.5);
  border: solid 1px;
  border-radius: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#connectIcon1About {
  width: 75px;
  height: 75px;
  margin-top: 15px;
}

#connectIcon2About {
  width: 75px;
  height: 75px;
  margin-top: 15px;
}

@media (max-width: 760px) {
  .aboutBox {
    color: white;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutTitle {
    font-size: 35px;
  }

  .aboutParag,
  .skillsParag {
    font-size: 22px;
    text-align: left;
    padding: 10px;
  }

  .pic {
    width: 40%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .skillsTitle {
    font-size: 35px;
  }

  #connectBox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #connectIcon1About {
    position: absolute;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
  }

  #connectIcon2About {
    float: right;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -70px;
  }
}

@media (max-width: 360px) {
  .iconsBox {
    padding-top: 0px;
  }

  .aboutBox {
    color: white;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutTitle {
    font-size: 30px;
  }

  .aboutParag,
  .skillsParag {
    font-size: 22px;
    text-align: center;
  }

  .pic {
    float: right;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .skillsTitle {
    font-size: 30px;
  }

  #connectBox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #connectIcon1About {
    position: absolute;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
  }

  #connectIcon2About {
    float: right;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -70px;
  }
}
