.project3 {
    width: 100%;
}

.project1Box {
    background:rgba(8, 8, 8, 0.897);
    padding: 30px;
    color: white;
    margin-bottom: 100px;
}

.p3projectParag {
    color: white;
    font-size: 25px;
    text-align: justify;
}

.projectTitles {
    text-align: center;
    margin-bottom: 30px;
}

li {
    font-size: 20px
}

.projectPair {
    margin-bottom: 30px;
}

.p3title-btn1 {
    position: fixed;
    margin-left: 1080px;
    z-index: 100;
    font-size: 28px;
    background: rgb(5, 23, 56);
    margin-top: -30px;
}

.p3title-btn2 {
    background: rgb(5, 23, 56);
    margin-left: 1200px;
    position: fixed;
    z-index: 100;
    font-size: 28px;
    margin-top: -30px;
}

.p3title-btn3 {
    background: rgb(5, 23, 56);
    margin-left: 1340px;
    position: fixed;
    z-index: 100;
    font-size: 16px;
    margin-top: -30px;
}

@media (max-width: 360px) {
    .p3title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p3title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p3title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;
    }
    .p3description {
        text-align: center;
        margin-top: 25px;
    }
    .p3projectParag {
        font-size: 20px;
    }
    .p3buildingTitle {
        text-align: center;
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .p3title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p3title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p3title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;

    }
}

@media (max-width: 1100px) {
    .p3title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p3title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p3title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;

    }
}