.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p9projectParag {
  color: white;
  font-size: 22px;
}

.p9projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

ul li {
  font-size: 16px;
}

.projectPair {
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .p9Titles {
    text-align: center;
    margin-top: 15px;
  }
}
