.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p5projectParag {
  color: white;
  font-size: 25px;
  text-align: justify;
}

.p5projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

li {
  font-size: 18px;
}

.projectPair {
  margin-bottom: 30px;
}

.project5ThirdPic {
  width: 100%;
  margin-top: -160px;
}

@media (max-width: 360px) {
  .p5descriptionTitle {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .p5projectParag {
    font-size: 18px;
  }
  .p5buildingTitle {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .p5frontTile,
  .p5backTile {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .project5ThirdPic {
    display: none;
  }
  .p5projectTitles {
    font-size: 30px;
    margin-top: 15px;
  }
}
