.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p12projectParag {
  color: white;
  font-size: 25px;
  text-align: justify;
}

.projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
}

.projectPair {
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .p12Titles {
    text-align: center;
    margin-top: 15px;
  }
  .p12projectParag {
    font-size: 18px;
  }
}
