.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p13projectParag {
  color: white;
  font-size: 20px;
  text-align: justify;
}

.p13projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

ul li {
  font-size: 16px;
}

.projectPair {
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .p13Titles {
    text-align: center;
    margin-top: 15px;
  }
  ul li {
    font-size: 20px;
  }
  .p13projectTitles {
    margin-top: 20px;
  }
}
