.project1 {
    width: 100%;
}

.project1Box {
    background:rgba(8, 8, 8, 0.897);
    padding: 30px;
    color: white;
    margin-bottom: 100px;
}

.p13projectParag {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.p13projectTitles {
    text-align: center;
    margin-bottom: 30px;
}

ul li {
    font-size: 16px
}

.projectPair {
    margin-bottom: 30px;
}

.p13title-btn1 {
    position: fixed;
    margin-left: 1080px;
    z-index: 100;
    font-size: 28px;
    background: rgb(5, 23, 56);
    margin-top: -30px;
}

.p13title-btn2 {
    background: rgb(5, 23, 56);
    margin-left: 1200px;
    position: fixed;
    z-index: 100;
    font-size: 28px;
    margin-top: -30px;
}

.p13title-btn3 {
    background: rgb(5, 23, 56);
    margin-left: 1340px;
    position: fixed;
    z-index: 100;
    font-size: 16px;
    margin-top: -30px;
}

@media (max-width: 360px) {
    .p13title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p13title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p13title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;
    }
    .p13Titles {
        text-align: center;
        margin-top: 15px;
    }
    ul li{
        font-size: 20px;
    }
    .p13projectTitles {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .p13title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p13title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p13title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;

    }
}
@media (max-width: 1100px) {
    .p13title-btn1 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 0;
    }
    .p13title-btn2 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 33%;
    }
    .p13title-btn3 {
        position: fixed;
        top: 7;
        left: 0;
        font-size: 16px;
        width: 33%;
        margin-left: 66%;

    }
}