.project1 {
  width: 100%;
}

.project1Box {
  background: rgba(8, 8, 8, 0.897);
  padding: 30px;
  color: white;
  margin-bottom: 100px;
}

.p4projectParag {
  color: white;
  font-size: 25px;
}

.projectTitles {
  text-align: center;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
}

.projectPair {
  margin-bottom: 30px;
}

@media (max-width: 360px) {
  .p4description,
  .p1building {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
  }

  .p4projectParag {
    font-size: 15px;
  }

  .p4titles {
    font-size: 20px;
  }

  .p4buildingTitle {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .p4frontTile,
  .p4backTile {
    font-size: 20px;
    text-align: center;
  }
}
