.mainBox {
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-color: antiquewhite;
  box-shadow: 0px 10px 100px white;
}

.block-header {
  font-size: 65px;
}

.btn1 {
  font-size: 20px;
  width: 100%;
  height: 60px;
  background: rgb(20, 32, 70);
  color: #fff;
  padding-bottom: 15px;
  border-color: aqua;
}

.containerTest {
  position: relative;
  box-shadow: 0px 20px 20px 10px white;

  /* width: 25%; */
}

.imageTest {
  opacity: 1;
  display: block;
  width: 350;
  height: 350px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middleTest {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translate(-5%, -5%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerTest:hover .imageTest {
  opacity: 0.3;
}

.containerTest:hover .middleTest {
  opacity: 1;
}

.textTest {
  background-color: rgba(7, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.connectBoxWork {
  color: rgb(255, 255, 255);
}

#connectBoxWork {
  box-shadow: 0px 20px 50px white;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  height: 300px;
  width: 400px;
  background: rgba(33, 181, 250, 0.486);
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#connectIcon1Work {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;
  padding: 10px;
  border-radius: 60px;
}

#connectIcon2Work {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  background: white;
  padding: 10px;
  border-radius: 60px;
}

@media only screen and (max-width: 768px) {
  .btn1 {
    width: 100px;
  }

  .imageTest {
    width: 100% !important;
    height: auto !important;
  }

  .mainBox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 360px) {
  .containerTest {
    width: 160px;
    margin: auto;
  }

  .boxWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .block-header {
    font-size: 30px;
  }

  .middleTest {
    display: none;
  }

  .imageTest {
    height: 100px !important;
  }

  .btn1 {
    width: 100%;
    height: 35px !important;
    font-size: 10px;
  }

  .mainBox {
    margin-bottom: 200px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .textTest {
    background-color: black;
    color: white;
    font-size: 12px;
  }

  .middleTest {
    transition: 0.5s ease;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 14%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #connectBoxWork {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #connectIcon1Work {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 30px;
  }

  #connectIcon2Work {
    float: right;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -140px;
  }
}
